# Local configuration file (sdk path, etc)
local.properties
gradle.properties

# Intellij project files
!*.iml
*.ipr
*.iws
.idea/*
!.idea/codeStyleSettings.xml
!.idea/runConfigurations/
!.idea/gradle.xml
!.idea/modules.xml

# Gradle files
.gradle/
build/